/* CSS Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*------Header-------*/
.header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.png);
    position: relative;
    background-position: center;
    background-size: cover;
}
nav{
    /* width: 90%; */
    /* margin: auto; */
    display: flex;
    justify-content: space-between;
    /* margin-top: 30px; */
    padding: 2% 6%;
    align-items: center;
}
nav .fa{
    display: none;
}
nav img{
    width: 150px;
}
.nav_links ul{
    display: flex;
}
.nav_links ul li{
    list-style: none;
    margin: 0 15px;
    font-size: 22px;
}
.nav_links ul li a{
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
}
.nav_links ul li::after{
    content: '';
    width: 0px;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav_links ul li a:hover{
    color: burlywood;
}
.nav_links ul li:hover::after{
    width: 100%;
}
/* Text Box */
.text_box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text_box h1{
    font-size: 80px;
    margin-bottom: 40px;
}
.text_box p{
    font-size: 18px;
    margin-bottom: 60px;
}
.hero_btn{
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 15px;
    border-radius: 3px;
    text-decoration: none;
    transition: 0.4s;
}
.hero_btn:hover{
    background-color: #f4433f;
    border: 1px solid #f4433f;
    transition: 1s;
}

/* Course */
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}
.course h1{
    font-size: 28px;
    margin-bottom: 15px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.course-col{
    flex-basis: 31%;
    background-color: #fff3f3;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    /* align-items: center; */
    box-sizing: border-box;
}
.course-col:hover{
    transform: scale(1.03);
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.course-col h2{
    font-size: 23px;
    margin-bottom: 13px;
    margin-top: 10px;
}
.course-col p{
    margin-bottom: 15px;
}

/* Campus */
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
}
.campus-col{
    flex-basis: 31%;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.campus h1{
    font-size: 30px;
    margin-bottom: 15px;
}
.campus p{
    font-size: 18px;
}
.campus img{
    width: 100%;
    display: block;
}
.layer{
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226, 0, 0, 0.7);
}
.layer h2{
    width: 100%;
    color: #fff;
    font-size: 30px;
    position: absolute;
    bottom: 0;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h2{
    opacity: 1;
    bottom: 49%;
}

/* Facilities */
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
.facilities h1{
    font-size: 30px;
    margin-bottom: 20px;
}
.facilities p{
    font-size: 18px;
}
.facilities-col{
    flex-basis: 31%;
    border-bottom: 1px solid #555;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.facilities-col h2{
    margin-bottom: 20px;
    text-align: left;
}
.facilities-col p{
    text-align: left;
    margin-bottom: 10px;
}

/* Testimonial */
.testimonial{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
.testimonial h1{
    font-size: 30px;
    margin-bottom: 20px;
}
.testimonial p{
    font-size: 18px;
}
.testimonial-col{
    display: flex;
    background: #fff3f3;
    padding: 30px 20px;
    margin-top: 30px;
    border-radius: 17px;
    flex-basis: 49.2%;
}
.testimonial-col img{
    width: 70px;
    height: 50px;
    border-radius: 50%;
}
.testimonial-text{
    text-align: left;
    margin-left: 30px;
}
.testimonial-text h2{
    margin-top: 10px;
}
.testimonial-col .fa {
    color: #f4433f;
    margin-top: 10px;
}

/* Call To Action */
.cta{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(images/banner2.jpg);
    padding: 100px 50px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}
.cta h1{
    color: #fff;
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 1.5em;
}
.cta btn{
    margin-top: 50px;
}

/* About Us */
.footer{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}
.footer h3{
    font-size: 25px;
    margin-bottom: 30px;
}
.footer p{
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.3em;
}
.icons{
    margin-bottom: 30px;
    gap: 20px;
    display: flex;
    justify-content: center;
}
.icons .fa{
    font-size: 20px;
    color: #f4433f;
}

/* ===== About Us Page ====== */
.sub-header{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}
.sub-header h1{
    color: #fff;
    /* margin-top: 55px; */
    font-size: 30px;
}
.about-us{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
.about-col{
    flex-basis: 48%;
}
.about-col h1{
    font-size: 28px;
    margin-bottom: 20px;
}
.about-col p{
    margin-bottom: 30px;
    font-size: 19px;
    line-height: 1.3em;
}
.about-col img{
   width: 100%;
   border-radius: 12px;
}
.red_btn{
    color: #f4433f;
    border: 1px solid #f4433f;
}
.red_btn:hover{
    color: #fff;
}

/*===== Blog Page =====*/
.blog-content{
    width: 80%;
    margin: auto;
    margin-top: 100px;
}
.blog-left{
    flex-basis: 65%;
}
.blog-left img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 30px;
}
.blog-left h1{
    font-size: 30px;
}
.blog-left p{
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.3em;
}
.comment-box{
    border: 1px solid gray;
    padding: 50px 20px;
    margin-top: 50px;
}
.comment-form input, .comment-form textarea{
    width: 100%;
    margin: 18px 0;
    padding: 10px;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    background-color: rgb(241, 239, 239);
}
.blog-right{
    flex-basis: 31%;
}
.blog-right h1{
    font-size: 25px;
    background-color: #f4433f;
    text-align: center;
    color: #fff;
    padding: 9px 0;
    margin-bottom: 30px;
    border-radius: 8px;
}
.blog-right div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 18px;
}

/* =====Contact Us Page====== */
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
    border-radius: 10px;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 45%;
}
.contact-col div {
    display: flex;
    align-items: center;
}
.contact-col span{
    margin-left: 20px;
    margin-bottom: 25px;
    color: #555;
}
.contact-col h3{
    margin-bottom: 10px;
    font-size: 24px;
}
.contact-col p{
    font-size: 17px;
}
.contact-col .fa{
    font-size: 22px;
    color: #f4433f;
    padding-bottom: 30px;
}
.contact-col form input, .contact-col form textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 10px;
    border-radius: 7px;
    border: 1px solid gray;
}

/* Responsiveness */
@media(max-width:600px){
    /* header */
    .nav_links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        border-radius: 10px;
        transition: 1s;
    }
    .navLinks ul{
        display: flex;
        flex-direction: column;
    }
    .navLinks ul li{
        display: block;
        margin-bottom: 13px;
    }
    nav .fa{
        display: block;
        color: #fff;
        font-size: 25px;
        padding: 10px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    nav .fa-bars{
        margin-top: 20px;
    }
    nav a{
        margin-top: 20px;
    }
    nav a img{
        width: 180px;
    }
    .text_box{
        position: absolute;
        top: 450px;
    }
    .text_box h1{
        font-size: 48px;
    }
    .text_box p{
        font-size: 22px;
    }
    /* row */
    .row{
        flex-direction: column;
        gap: 20px;
    }
    /* course */
    .course h1{
        margin-bottom: 20px;
    }
    .course p{
        margin-bottom: 30px;
    }
    .course-col{
        margin-bottom: 20px;
        min-height: 170px;
    }
    /* campus */
    .campus h1{
        margin-bottom: 30px;
    }
    .campus p{
        margin-bottom: 30px;
    }
    /* facilities */
    .facilities p{
        margin-bottom: 30px;
    }

    /* === Other Pages === */
    .sub-header h1{
        margin-top: 100px;
        font-size: 40px;
    }
    #h1-blog{
        font-size: 30px;
    }
    .about-col img{
        margin-top: 30px;
    }

}